  .btn-holder{
    margin: auto;
  }

  button{
    border-radius: 12px;
    padding: 5px;
    font-size: larger; 
    margin: 10px; 
    transition-duration: .4s;
    background-color: grey;
  }


  button:hover{
    background-color: white;
  }