

button{
    border-radius: 12px;
    border-width: 1px;
    padding: 5px;
    font-size: larger; 
    margin: 20px; 
    transition-duration: .3s;
    background-color: #E2E2E2;

}


button:hover{
    background-color: white;
}

.homecontainer {
  text-align: center;
}
